.chart-container {
  display: block;
  height: 300px;
}

.next-six-months, .prev-six-months {
  display: inline;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  position: absolute;
  bottom: 50%;
  z-index: 99;
  cursor: pointer;
}

.prev-six-months {
  left: 8px;
}

.next-six-months {
  right: 8px;
}

.prev-six-months:hover, .next-six-months:hover {
  color: #fff;
}