      <main role="main" class="inner cover">
        <h1 class="cover-heading">💰</h1>
        <p class="lead"><span class="font-italic">Money Mapper</span> is for anyone who isn't paid monthly and wants to determine which months in the upcoming year will be <span class="font-weight-bold">lean</span> months and which will be <span class="font-weight-bold">bumper</span> months. Give it a try!</p>
        <p class="lead">
          <a routerLink="/main/" 
          	 href="#" 
          	 class="btn btn-lg btn-secondary">
          	 Get Started
      	</a>
        </p>
      </main>