      <main role="main" class="inner cover">
        <h1 class="cover-heading">💰</h1>
        <p class="lead">Do you receive a paycheck biweekly? Whether your interpretation of 'biweekly' is every two weeks or twice a week, this app is for you. It's also for anyone who isn't paid monthly and wants to determine which months in the upcoming year will be <span class="font-weight-bold">lean</span> months and which will be <span class="font-weight-bold">bumper</span> months.</p>
        <p class="lead">
          <a routerLink="/main/" 
          	 href="#" 
          	 class="btn btn-lg btn-secondary">
          	 Get Started
      	</a>
        </p>
      </main>