
<div>
  <div *ngIf="errors.length > 0">
    <div *ngFor="let error of errors"
         class="alert alert-warning"
         role="alert">
      {{error}}
    </div>
  </div>
  <form>
    <div class="form-group row">
      <label for="start-date-input">When is your next payday?</label>
      <input [ngModel]="pd.data.nextPayday | date:'yyyy-MM-dd'"
             (ngModelChange)="pd.data.nextPayday = $event"
             [value]="pd.data.nextPayday | date:'yyyy-MM-dd'"
             name="start-date"
             class="form-control no-spinners"
             type="date"
             id="start-date-input">
    </div>

    <div class="form-group row">
      <label for="pay-amt-input">What is your paycheck amount?</label>
      <input currencyMask [(ngModel)]="pd.data.paycheckAmount"
             (focus)="selectAllContent($event)"
             (mouseup)="$event.preventDefault()"
             name="pay-amt"
             class="form-control no-spinners"
             id="pay-amt-input">
    </div>

    <div class="form-group row">
      <label for="select-pay-frequency">How often are you paid?</label>
      <select [(ngModel)]="pd.data.frequency"
              name="pay-frequency"
              class="form-control"
              id="select-pay-frequency">
        <option *ngFor="let option of payFrequencyOptions"
                [ngValue]="option">
                {{option}}
        </option>
      </select>
    </div>

    <div *ngIf="pd.data.frequency === 'Other'"
         class="form-group row">
      <label for="specify-pay-frequency">How many days between paydays?</label>
      <input [(ngModel)]="pd.data.frequencyInDays"
             name="other-pay-frequency"
             class="form-control no-spinners"
             type="number"
             value=""
             id="specify-pay-frequency">
    </div>

    <div *ngIf="(pd.data.frequency &&
                 pd.data.frequency !== 'Other') ||
                (pd.data.frequencyInDays &&
                 pd.data.frequency === 'Other')"
         class="form-group row find-btn">
      <button (click)="nextView()"
              class="btn btn-primary btn-lg btn-block">
              Map My Income!
      </button>
    </div>

  </form>
</div>