
<div>
  <form>
    <div class="form-group row">
      <label for="start-date-input">When is your next payday?</label>
      <input [ngModel]="payday.nextPayday | date:'yyyy-MM-dd'"
             (ngModelChange)="startDate = $event"
             [value]="dt | date:'yyyy-MM-dd'"
             name="start-date"
             class="form-control no-spinners"
             type="date"
             id="start-date-input">
    </div>

    <div class="form-group row">
      <label for="pay-amt-input">Paycheck amount</label>
      <input currencyMask [(ngModel)]="payday.paycheckAmount"
             (focus)="selectAllContent($event)" 
             (mouseup)="$event.preventDefault()"
             name="pay-amt"
             class="form-control no-spinners"
             id="pay-amt-input">
    </div>

    <div class="form-group row">
      <label for="select-pay-frequency">How often are you paid?</label>
      <select [(ngModel)]="payday.frequency"
              name="pay-frequency"
              class="form-control"
              id="select-pay-frequency">
        <option *ngFor="let option of payFrequencyOptions"
                [ngValue]="option">
                {{option}}
        </option>
      </select>
    </div>

    <div *ngIf="payday.frequency" class="form-group row find-btn">
      <button [routerLink]="['results']"
              [queryParams]="{pay: payday.amount, 
                              date: yyyymmdd(payday.nextPayday), 
                              frequency: frequency(payday.frequency)}"
              class="btn btn-primary btn-lg btn-block">
              Find Extra Money!
      </button>
    </div>

  </form>
</div>