
.bg {
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* Fade Out */
@keyframes fadeOut {
  0%   { opacity:1; }
  100%  { opacity:0; }
}
@-o-keyframes fadeOut{
  0%   { opacity:1; }
  100%  { opacity:0; }
}
@-moz-keyframes fadeOut{
  0%   { opacity:1; }
  100%  { opacity:0; }
}
@-webkit-keyframes fadeOut{
  0%   { opacity:1; }
  100%  { opacity:0; }
}

.fade-out {
   -webkit-animation: fadeOut 3s linear;
   -moz-animation: fadeOut 3s linear;
   -o-animation: fadeOut 3s linear;
    animation: fadeOut 3s linear;
}

/* Fade In */
@keyframes fadeIn {
  0%   { opacity:0; }
  100%  { opacity:100; }
}
@-o-keyframes fadeIn{
  0%   { opacity:0; }
  100%  { opacity:100; }
}
@-moz-keyframes fadeIn{
  0%   { opacity:0; }
  100%  { opacity:100; }
}
@-webkit-keyframes fadeIn{
  0%   { opacity:0; }
  100%  { opacity:100; }
}

.fade-in {
   -webkit-animation: fadeIn 3s linear;
   -moz-animation: fadeIn 3s linear;
   -o-animation: fadeIn 3s linear;
    animation: fadeIn 3s linear;
}