  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
        </nav>
        <h3 class="masthead-brand">MoneyFinder</h3>
      </div>
    </header>

    <main role="main" class="inner cover">
      <router-outlet></router-outlet>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Template by <a href="https://twitter.com/mdo">@mdo.</a>App by <a href="https://twitter.com/developwithtim">@developwithtim.</a></p>
      </div>
    </footer>
  </div>