
<div *ngIf="sequenceDissolve &&
            sequenceDissolve.itemA &&
            sequenceDissolve.itemB">
    <p [ngClass]="sequenceDissolve.itemB.klass"> News: 
      <a href="{{sequenceDissolve.itemB.data.url}}"
         target="_blank">
        {{sequenceDissolve.itemB.data.title}}
      </a>
    </p>
    <p [ngClass]="sequenceDissolve.itemA.klass"> News: 
      <a href="{{sequenceDissolve.itemA.data.url}}"
         target="_blank">
        {{sequenceDissolve.itemA.data.title}}
      </a>
    </p>
</div>
