/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.find-btn {
  margin-top: 30px;
}

.deactivated {
  color: rgba(255, 255, 255, .5);
}

.deactivated:hover {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
}

p a {
    margin-right: 10px;
}


.overlay-solid, .base-solid {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background:rgba(51, 51, 51, 0.8);
}

.base-solid {
  background-color: #333;
}


.bg {
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.hidden {
  display: none;
}

/* Fade Out */
@keyframes fadeOut {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-o-keyframes fadeOut{
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-moz-keyframes fadeOut{
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-webkit-keyframes fadeOut{
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

.fade-out {
   -webkit-animation: fadeOut 3s linear;
   -moz-animation: fadeOut 3s linear;
   -o-animation: fadeOut 3s linear;
    animation: fadeOut 3s linear;
}

/* Fade In */
@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}
@-o-keyframes fadeIn{
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}
@-moz-keyframes fadeIn{
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}
@-webkit-keyframes fadeIn{
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}

.fade-in {
   -webkit-animation: fadeIn 3s linear;
   -moz-animation: fadeIn 3s linear;
   -o-animation: fadeIn 3s linear;
    animation: fadeIn 3s linear;
}